<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Amazfit Watch faces</title>
    <meta name="description" content="Amazfit Watch faces">
    <meta name="keywords" content="Amazfit Watch faces">
    <meta property="og:name" content="Amazfit Watch faces" />
    <meta property="og:description" content="Amazfit Watch faces" />
    <meta property="og:image" content="images/icon_200.jpg" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Amazfit Watch faces" />
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/bootstrap.min.css">
    <script src="http://amazfitwatchfaces.com/js/jquery-2.2.4.min.js"></script>
    <script src="http://amazfitwatchfaces.com/js/commonee4c.js?1495035334"></script>
    <script src="http://amazfitwatchfaces.com/js/flat-ui.min.js"></script>
    <script src="http://amazfitwatchfaces.com/js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/style83c0.css?1503850524">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="http://amazfitwatchfaces.com/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/jquery.smartbanner.css" type="text/css" media="screen">
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46678461 = new Ya.Metrika({ id:46678461, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46678461" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

   </head>
<body style='background:#121314;color: rgba(255, 255, 255, 0.8);'>
 <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img src='http://amazfitwatchfaces.com/images/logo.png' style='width:200px;margin-top:10px'></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi fit<span class="caret"></span></a>
              <div class="dropdown-menu" style='padding:12px;'>
                <a href='https://play.google.com/store/apps/details?id=com.xiaomi.hm.health' style='display:inline' target='_blank'><img alt='Get it on Google Play' src='http://amazfitwatchfaces.com/images/get_android.png' width='170px' /></a>
                <a href='https://itunes.apple.com/ru/app/mi-fit/id938688461?mt=8' style='display:inline' target='_blank'><img alt='Get it on Google Play' src='http://amazfitwatchfaces.com/images/get_ios.png' width='170px' /></a>
              </div>
            </li>
            <li><a href="https://www.facebook.com/groups/1935986946664086" target="_blank">Facebook</a></li>
<li><a href="http://amazfit-bip.mcdir.ru/" target="_blank">.RES maker</a></li>
            <li><a href="https://github.com/amazfitbip/tools" target="_blank">Github</a></li>
    </nav>
	<br>
	<!-- /navbar -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="watchface">
                <div class="watchface-img-bg center-block">
                    <img class="watchface-img" id="watchface-preview" src="../../../resource/watchface/img/12995937561488696967.gif" />
                </div>
                <div class="watchface-laud-like-row">
                    <button class="btn btn-success btn-sm laud-button" data-bin-id="12" onclick="laudWatchface(this)"><span class="glyphicon glyphicon-thumbs-up"></span> Like 117</button>
                    <button class="btn btn-success btn-sm like-button" data-bin-id="12" onclick="likeWatchface(this)"><span class="glyphicon glyphicon-heart"></span> Collection 37</button>
                </div>
                <p class="watchface-name">Name:<span id="watchface_name_view">1</span></p>
                <p class="watchface-maker">Author:<span id="watchface_makername_view">1</span></p>
                                    <button class="btn btn-primary btn-large btn-block" data-toggle="collapse" data-target="#versionDiv"><span class="glyphicon glyphicon-download-alt"></span>Download</button>
                                </div>
            <div id="versionDiv" class="collapse">
                <a href="http:" target="_blank">I do not know how to use the downloaded dial? click here!</a>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Choose the version to download
                    </div>
                    <div class="panel-body">
                        <div class="list-group watchface-version">
                            <a href="../../../api/downloadWatchface/id/1/ver_id/12ddad501e.bin" class="list-group-item watchface-version-list-item" data-html=true data-toggle="tooltip" data-imgname="12995937561488696967.gif" target="_blank"><h4 class="list-group-item-heading watchface-version-text-heading">1 <span class="text-muted text-right"> (958)</span></h4><p class="list-group-item-text watchface-version-text">Update time: 2017-01-16 22:06:01</p></a>                        </div>
                    </div>
                </div>
                <p class="text-muted">Number of downloads averaged</p>
            </div>
            <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">提示</h4>
                        </div>
                        <div class="modal-body">
                            请点击右上角的··· 选择 用浏览器打开
                        </div>

                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-8">
                <h4 class="describe-header">表盘描述：</h4>
            <div class="form-inline">
                <span>标签：</span>
                <a class="label label-success watchface-tags" target="_blank" href="../../findByTag/tagName/%e5%b0%8f%e9%bb%913.html">小黑3</a><a class="label label-success watchface-tags" target="_blank" href="../../findByTag/tagName/%e6%8c%87%e9%92%88.html">指针</a><a class="label label-success watchface-tags" target="_blank" href="../../findByTag/tagName/%e6%9e%97%e5%ae%b6%e5%a4%a7%e5%b0%91%e7%88%b7.html">林家大少爷</a>            </div>
                    <div class="describe-text">
            http://bbs.weloop.cn/thread-18251-1-1.html        </div>
            <div class="describe-pic">
                <img class='img-responsive' src='../../../../weloop50.weloop.cn/forum/201701/16/160845kc2snnebbmyc2ddb.png' />            </div>
            <p>由于多说关闭，现启用自制评论系统，以往评论正在导入中</p>
            <div class="encuss-div" data-post-id="12"  data-title="林家大少爷-3号" data-url="https://www.iweloop.com/watchface/view/id/12" data-image="../../../resource/watchface/img/12995937561488696967.gif">
            </div>
            <script type="text/javascript">
                var encussConfig = {
                    short_name:"iweloop",
                    site_id:2,
                    is_nest:true,
                    sso: {
                        login: "https://www.iweloop.com/user/loginFromEncuss/viewing/https%3A%2F%2Fwww.iweloop.com%2F%2Fwatchface%2Fview%2Fid%2F12/",
                        logout: "https://www.iweloop.com/user/logoutFromEncuss/viewing/https%3A%2F%2Fwww.iweloop.com%2F%2Fwatchface%2Fview%2Fid%2F12/"
                    }
                };
                (function() {
                    var encuss = document.createElement('script');
                    encuss.type = 'text/javascript';
                    encuss.async = true;
                    encuss.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//encuss.yxz.me/js/embed.js?1.21';
                    encuss.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                    || document.getElementsByTagName('body')[0]).appendChild(encuss);
                })();
                function laudWatchface(curObj)
                {
                    if($(curObj).data("isClicked")==true)
                        return;
                    $.post("../../../api/laudWatchface.html","id=" + $(curObj).data("wf-id"),function(response){

                        if(response.status==1)
                        {
                            $(curObj).html('<span class="glyphicon glyphicon-thumbs-up"></span> 点赞 ' + response.cur_laud);
                            $(curObj).attr("class","btn btn-info btn-sm");
                            $(curObj).data("isClicked",true);
                        }

                    });
                }
                function likeWatchface(curObj)
                {
                    if($(curObj).data("isClicked")==true)
                        return;
                    $.post("../../../api/likeWatchface.html","id=" + $(curObj).data("wf-id"),function(response){

                        if(response.status==1)
                        {
                            $(curObj).html('<span class="glyphicon glyphicon-heart"></span> 收藏 ' + response.cur_like);
                            $(curObj).attr("class","btn btn-danger btn-sm");
                            $(curObj).data("isClicked",true);
                        }

                    });
                }
                function generateImg(imgname)
                {
                    return "<img src='https://www.iweloop.com//resource/watchface/img/" +imgname+ "' class='watchface-version-item-preview' width=176 height=176></img>";
                }
                function voteWatchface(curObj)
                {
                    if($(curObj).data("isClicked")==true)
                        return;
                    $.post("../../../api/voteWatchface.html","id=" + $(curObj).data("wf-id"),function(response){

                        if(response.status==1)
                        {
                            $(curObj).attr("class","btn btn-xs btn-inverse");
                            $(curObj).text("已投票");
                            $(curObj).parent().siblings(".vote-count").text(response.vote_count + " 票");
                            $(curObj).data("isClicked",true);
                        }

                    });
                }
                $('.watchface-version-list-item').tooltip(
                    {
                        title: function(e){return generateImg($(this).data("imgname"));},
                        placement: "right",
                        template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner watchface-version-tooltip"></div></div>'
                    }
                );

            </script>
            <!-- 多说公共JS代码 end -->
        </div>
    </div>
    <p class="text-muted">如果该页面存在侵犯您权益的内容(包括需要将上传者改为您)，请发送邮件至yxzyxz001#vip.qq.com</p>

</div>


<div id="footer">
    <div class="container">
        <p class="text-muted text-left"></p>
            </div>
</div>
    <div class="modal fade" id="login_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document"  style="width:500px; margin-top:10%;">
            <div class="modal-content">

                <div class="modal-body login-form">
                    <div class="alert alert-info" role="alert" style="display: none;" id="login-alert">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="用户名" id="login-username" />
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="密码" id="login-password" />
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <label class="form-group">
                        <input type="checkbox" value="remember-me" class="login-field" name="remember" id="login-remember" />记住我
                    </label>
                    <button class="btn btn-primary btn-lg btn-block" href="#" id="login-btn" onclick="submitLogin()">登录</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="register_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document"  style="width:500px; margin-top:10%;">
            <div class="modal-content">

                <div class="modal-body login-form">
                    <div class="alert alert-info" role="alert" style="display: none;" id="register-alert">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="用户名" id="register-username" />
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="密码" id="register-password" />
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="重复输入密码" id="register-repassword" />
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="邮箱地址" id="register-email" />
                        <label class="login-field-icon fui-mail"></label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" href="#" id="register-btn" onclick="submitRegister()">注册</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $(".tagsinput").tagsinput();
        $('.dropdown-toggle').dropdown();

        $('#keyword').keydown(function(e){
            if(e.keyCode==13){
                goSearch($('#keyword').val());
            }
        });
    });
    function goSearch(keyword)
    {
        window.location="https://www.iweloop.com/watchface/search/keyword/" + encodeURIComponent(keyword);
    }


</script>
</body>

</html>