<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Amazfit Watch faces</title>
    <meta name="description" content="Amazfit Watch faces">
    <meta name="keywords" content="Amazfit Watch faces">
    <meta property="og:name" content="Amazfit Watch faces" />
    <meta property="og:description" content="Amazfit Watch faces" />
    <meta property="og:image" content="images/icon_200.jpg" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Amazfit Watch faces" />
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/bootstrap.min.css">
    <script src="http://amazfitwatchfaces.com/js/jquery-2.2.4.min.js"></script>
    <script src="http://amazfitwatchfaces.com/js/commonee4c.js?1495035334"></script>
    <script src="http://amazfitwatchfaces.com/js/flat-ui.min.js"></script>
    <script src="http://amazfitwatchfaces.com/js/typeahead.bundle.min.js"></script>
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/style83c0.css?1503850524">
   <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="http://amazfitwatchfaces.com/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="http://amazfitwatchfaces.com/css/jquery.smartbanner.css" type="text/css" media="screen">
    <link href="/css/styles.css" type="text/css" rel="stylesheet">

   </head>
<body style='background:#121314;color: rgba(255, 255, 255, 0.8);'>
 <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://amazfitwatchfaces.com/index.html"><img src='http://amazfitwatchfaces.com/images/logo.png' style='width:200px;margin-top:10px'></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mi fit<span class="caret"></span></a>
              <div class="dropdown-menu" style='padding:12px;'>
                <a href='https://play.google.com/store/apps/details?id=com.xiaomi.hm.health' style='display:inline' target='_blank'><img alt='Get it on Google Play' src='http://amazfitwatchfaces.com/images/get_android.png' width='170px' /></a>
                <a href='https://itunes.apple.com/ru/app/mi-fit/id938688461?mt=8' style='display:inline' target='_blank'><img alt='Get it on Google Play' src='http://amazfitwatchfaces.com/images/get_ios.png' width='170px' /></a>
              </div>
            </li>
<li><a href="http://amazfitwatchfaces.com/watchface/Watchface/index.html" target="_blank">Watchface</a></li>
<li><a href="http://amazfitwatchfaces.com/watchface/upLoad/index.html" target="_blank">UpLoad</a></li>
<li><a href="https://www.facebook.com/groups/1935986946664086" target="_blank">Facebook</a></li>
<li><a href="http://amazfit-bip.mcdir.ru/" target="_blank">.RES maker</a></li>
<li><a href="https://github.com/amazfitbip/tools" target="_blank">Github</a></li>
    </nav>
	<br>
	<br>
	<!-- /navbar -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="watchface">
                <div class="watchface-img-bg center-block">
                    <img class="watchface-img" id="watchface-preview" src="../../../resource/watchface/img/5.png" />
                </div>
                <p class="watchface-name">Name: <span id="watchface_name_view">mod</span></p>
                <p class="watchface-maker">Author: <span id="watchface_makername_view">huami</span></p>
          <a class="btn btn-primary btn-large btn-block" target="_blank" href="http://amazfitwatchfaces.com/resource/watchface/bin/5.bin">Download</a>
       </div>
       <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">point</h4>
                        </div>
                        <div class="modal-body">
                            Please click on the upper right corner of the choice to open with a browser
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
                <h4 class="describe-header">Watchface Description:</h4>
            <div class="form-inline">
                <span>Tags：</span>
                <a class="label label-success watchface-tags" target="_blank" href="../../findByTag/tagName/bin.html"></a>
				 <div class="describe-text">
				 <div class="describe-pic">
              </div></div></div>
            
            <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://http-amazfitwatchfaces-com-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</div>


<div id="footer">
<center><p style="font-size: 14px">© 2017 Amazfit часы лица - Все права защищены : Николай ОСЬМАЧКО</p></center>
<script id="dsq-count-scr" src="//http-amazfitwatchfaces-com-1.disqus.com/count.js" async></script>
</body>

</html>
